*/.classpath
*/.launch
*/.project
*/.settings
*/*.launch
*/*.tmproj
*/ivy*
*/eclipse
*.idea
*.iml

*/prodDb.*

*Db.properties
*Db.script

*/stacktrace.log
*/test/reports
*/logs

*.zip
plugin.xml

*/plugins
*/web-app/plugins

*/target
*/target-eclipse

*.iws

*.sublime-project
*.sublime-workspace

.DS_Store
